<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head>-->
<!--    <title>Sign-Up</title>-->
<!--</head>-->
<!--<body>-->
<!--<th:block th:if="${exist}">-->
<!--    <p th:text="${exist}"></p>-->
<!--</th:block>-->
<!--<form th:action="@{/accout/sign-up}" th:method="post">-->
<!--    <lable>Email</lable>-->
<!--    <input type="text" id="email" name="userName">-->

<!--    <lable>Password</lable>-->
<!--    <input type="password" id="password" name="password">-->
<!--    <input type="submit">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-login-form.min.css}"></link>
</head>

<body>
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Create Employee</h3>
                        <form th:action="@{/accout/employee}" th:method="post">

                            <div class="form-outline mb-4">
                                <input type="text" id="typePasswordX-1" class="form-control form-control-lg" name="fullname"/>
                                <label class="form-label" for="typePasswordX-1">Full Name</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" id="typePasswordX-2" class="form-control form-control-lg" name="userName"/>
                                <label class="form-label" for="typePasswordX-2">Username</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="typeEmailX-3" class="form-control form-control-lg" name="password"/>
                                <label class="form-label" for="typeEmailX-3">Password</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" id="typeEmailX-4" class="form-control form-control-lg" name="phone"/>
                                <label class="form-label" for="typeEmailX-4" >Phone</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="email" id="typeEmailX-5" class="form-control form-control-lg" name="email"/>
                                <label class="form-label" for="typeEmailX-5">Email</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" id="typeEmailX-6" class="form-control form-control-lg" name="city"/>
                                <label class="form-label" for="typeEmailX-6">
                                    Living City </label>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
</body>

</html>